@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;700&family=Roboto&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: Roboto, sans-serif;
}

body {
    display: grid;
    grid-template-columns: clamp(200px, 25%,380px) 1fr;
    grid-template-rows: 220px 1fr;
}

.sidebar {
    grid-area: 1/1/3/2;
    background: #1992d4;
    height: 100vh;
}

.topbar {
    grid-area: 1/2/2/3;
    background: white;
}

.main {
    grid-area: 2/2/3/3;
    background: #e2e8f0;
}